@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.about-heading-stylee {
  @apply font-medium text-black text-[36px] md:text-[44px] leading-[140%] break-words font-montserrat;
}

@layer base {
  button {
    letter-spacing: inherit;
  }
  html {
    @apply font-medium;
    @apply text-offBlack;
    @apply text-md;
  }
  body {
    @apply bg-white;
  }
}

@layer components {
  .linkTextNavigation {
    @apply decoration-[0.1em] underline-offset-[0.1em] hover:underline;
  }

  .portableText {
    ol {
      list-style-type: decimal;
    }
    ol ol {
      list-style-type: lower-alpha;
    }
    ol ol ol {
      list-style-type: lower-roman;
    }

    ul {
      list-style: disc outside;
    }
    ul ul {
      list-style: circle outside;
    }
    ul ul ul {
      list-style: square outside;
    }
  }

  .select {
    align-items: center;
    background-color: theme('colors.lightGray');
    border-radius: theme('borderRadius.full');
    color: theme('colors.offBlack');
    display: flex;
    font-size: theme('fontSize.sm');
    font-weight: theme('fontWeight.bold');
    height: 2.5rem;
    justify-content: center;
    letter-spacing: theme('letterSpacing.normal');
    overflow: hidden;
    padding: theme('padding.4');
    transition: all 200ms ease-out;
  }

  .select:disabled {
    color: theme('colors.darkGray');
  }

  .select:hover:not(:disabled) {
    opacity: 0.9;
  }
}

* {
  font-family: 'DM Sans', sans-serif;
  font-variant-ligatures: none;
}

html {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

.embla__progress {
  z-index: 1;
  background-color: transparent;
  position: absolute;
  height: 0.3rem;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  width: 100%;
  overflow: hidden;
}
.embla__progress__bar {
  z-index: 2;
  background-color: #3d7544;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.swal2-styled {
  background-color: #ffe1d1 !important;
  padding: 10px 40px !important;
  color: black !important;
}

.swal2-title {
  color: black !important;
  font-weight: bold !important;
}

.swal2-html-container {
  color: #757575 !important;
}

/* REAL GOOD CSS UNLIKE BS TAILWIND */

.group .skem {
  opacity: 0;
  visibility: hidden;
  transform: rotateX(-45deg);
  transform-origin: top;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  perspective: 1000px;
}

.group:focus-within .skem {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg);
}
